<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <sectionGroup name="lnf">
            <section name="provider" type="LNF.ServiceProviderSection, LNF" />
        </sectionGroup>
    </configSections>

    <lnf>
        <provider production="false">
            <context loginUrl="/login" />
            <dataAccess showSql="true" />
            <email host="xxxxx" log="true" />
            <control host="xxxxx" />
            <log name="sselData" enabled="true" />
        </provider>
    </lnf>

    <appSettings>
        <add key="ShowMenu" value="false" />
        <add key="AddClientToAccount.PrivFilter" value="Lab User,Staff,Store User,Remote User" />
        <add key="MongoConnectionString" value="xxxxx" />
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>

    <connectionStrings>
        <add name="cnSselData" providerName="System.Data.SqlClient" connectionString="xxxxx" />
        <add name="cnProwatch" providerName="System.Data.SqlClient" connectionString="xxxxx" />
    </connectionStrings>

    <system.web>
        <compilation debug="true" targetFramework="4.7">
            <assemblies>
                <remove assembly="netfx.force.conflicts" />
                <remove assembly="System.Data.Common" />
                <remove assembly="System.Diagnostics.StackTrace" />
                <remove assembly="System.Diagnostics.Tracing" />
                <remove assembly="System.Globalization.Extensions" />
                <remove assembly="System.Net.Sockets" />
                <remove assembly="System.Runtime.Serialization.Primitives" />
                <remove assembly="System.Security.Cryptography.Algorithms" />
                <remove assembly="System.Security.SecureString" />
                <remove assembly="System.Threading.Overlapped" />
                <remove assembly="System.Xml.XPath.XDocument" />
            </assemblies>
        </compilation>

        <httpRuntime targetFramework="4.7" />

        <pages controlRenderingCompatibilityVersion="4.0">
            <controls>
                <add assembly="LNF.Web" namespace="LNF.Web.Controls" tagPrefix="lnf" />
            </controls>
        </pages>

        <authentication mode="Forms">
            <forms name="sselAuth.cookie" path="/" loginUrl="/login" timeout="480" protection="All" slidingExpiration="true" domain="umich.edu" cookieless="UseCookies" />
        </authentication>

        <authorization>
            <deny users="?" />
        </authorization>

        <machineKey compatibilityMode="Framework20SP2" validationKey="*****" decryptionKey="*****" validation="SHA1" decryption="3DES" />

        <xhtmlConformance mode="Legacy" />

        <customErrors mode="Off" />
    </system.web>
</configuration>
